<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="app">
    <ul>
        <li v-for="cor in cores">{{cor}}</li>
    </ul>
   
    <hr>
   
    <ul>
        <li v-for="pessoa in pessoas">Nome: {{pessoa.nome}}, Idade: {{pessoa.idade}}, Peso: {{pessoa.peso}}</li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Pv', idade: 21, peso: 94 },
                { nome: 'Ronier', idade: 21, peso: 98 },
                { nome: 'Victor', idade: 65, peso: 45 }
            ]
        }
    })
</script>